/* ------------ */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
/* ------------ */
body {
  font-family: monospace;
  height: 100%;
  background: #FFD586;
}
h1 {
  width: 100%;
  margin-bottom: 40px;
}
/* ------------ */
.container {
  height: 40%;
  width: 100%;
  max-width: 570px;
  margin: 0 auto;
  padding: 20px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* ------------ */
.form {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 80px;
  grid-column-gap: 10px;
}
.form-submit {
  outline: none;
  border: 1px solid rgb(232, 232, 232);
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  font-family: monospace;
  font-size: 14px;
  line-height: 36px;
}
.form-select {
  text-indent: 3px;
  font-family: monospace;
  font-size: 14px;
  line-height: 36px;   
}
.form-submit:focus {
  box-shadow: 0 0 0 0.5px rgb(153, 153, 153);
}
.card-item {
  width: 90%;
  max-width: 570px;
  display: flex;
  margin:30px auto;
  padding: 10px 20px 20px;
  border: 1px solid rgb(133, 80, 6);
  background-color: rgb(224, 169, 50);
  border-radius: 40px;
}
.card-continent{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  align-content: center;
  justify-content: center;
  text-align: center;
}
.card-country {
  line-height: 1.2;
  margin-top: 10px;
  width: 100%;
  align-content: center;
  justify-content: center;
  text-align: center;
}
.card-info {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: center;
}

.tag-error {
  width: 100%;
  text-align: center;
}

.footer
{
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ------------ */
.is-element-hidden {
  display: none;
}
/* ------------ */
@media (max-width: 620px) {
  .container {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 60px 20px;
  }
  .form {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
}
